<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranked-Choice Voting Application</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/tree_view.css"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/create_simulation_page">Create Simulation</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="react"></div>

<div class="container body-content">
    <div th:replace="${content}"></div>
    <hr />
    <footer>
        <p>&copy; Taylor Maxfield</p>
    </footer>
</div>

<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<!--<div th:replace="${scripts}"></div> -->
</body>
</html>